body {
  /* Location of the image */
  background-image: url(images/3.jpg);
  
  /* Image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: 100%;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#0E2E3B;
  
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */


}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: url(images/background-photo-mobile-devices.jpg);
    padding-left:5em
  }
	}



h1{
  color: white;
  border: 3px solid white;
  padding: 1em 1.16em;
  font-weight: 100; 
  border-radius: 5px; 
  line-height: 1em;
  height: 16%;
  width: 61%;
}

 h2 {
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
  margin-top: 20px;
  font-family: Arial;

  position: relative;
 /* font-family: font-family: 'Kotta One', serif;*/
}

.hexagon {
  opacity: .4;
  position: relative;
  margin: 100px auto;
  width: 190px;
  height: 110px;
  background-color: white; 
  background-position: center center;
  z-index: 1;
  /* Text styling */
  line-height: 110px;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 6px;
  color: #fff;
  color: rgba(255,255,255,.5);
  cursor: pointer;
  transition: color 500ms ease, text-shadow 500ms ease;
}

.icon {
  color: black;
  font-size: 50px;

}
.hexagon .face1,
.hexagon .face2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: inherit;
  z-index: -1;
  /* Keeps borders smooth in webkit */
  backface-visibility: hidden;
}
.hexagon .face1:before,
.hexagon .face2:before {
  content: '';
  position: absolute;
  width: 220px;
  height: 220px;
  background: inherit;
}

.hexagon .face1 { transform: rotate(60deg); }
.hexagon .face1:before {
  left: 0;
  transform-origin: left top;
  transform: rotate(-60deg) translate(-110px, 0);
}

.hexagon .face2 { transform: rotate(-60deg); }
.hexagon .face2:before {
  right: 0;
  transform-origin: right top;
  transform: rotate(60deg) translate(110px, 0);
}



/*
.lhexagon, .rhexagon, .mhexagon{
  background-color: white;
    text-align: center;
    line-height: 100px;
    height: 100px;
    width: 173.2px;
    margin: 60px 10px;
    position: relative;
    z-index: 1;
}

.lhexagon:before,
.lhexagon:after, .rhexagon:before, .rhexagon:after, .mhexagon:before, .mhexagon:after {
   border-left: 87.5px solid transparent;
    border-right: 87.5px solid transparent;
    content: "";
    position: absolute;
    left: 0;
    z-index: -1;
}

.lhexagon:before,.rhexagon:before, .mhexagon:before {
    border-top: 50px solid transparent;
    border-bottom: 50px solid white;
    top: -100px;
}

.lhexagon:after,.rhexagon:after, .mhexagon:after {
    bottom: -100px;
    border-top: 50px solid white;
    border-bottom: 50px solid transparent;
}
*/
/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
  position: relative;
  bottom: -400px;

}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

input {
  background-color: transparent; 
  border-style: solid; 
  border-width: 0px 0px 6px 0px; 
  border-color: white; 
  font-size: 100px;
  font-family: 'Slabo 27px', serif;
  width: 450px; 
  height: 100px;
  color: white;
}

.welcome {
    font-size: 100px;
    color: white; 
    font-family: 'Slabo 27px', serif;
    position: relative;
    bottom: -216px;
}

/*Positions*/

.down {
  color: white;
  position: relative;
  bottom: -300px;
  font-size: 50px;

}

.up {
  color: white;
  position: relative;
  /*bottom: 300px;*/
  font-size: 50px;

}

span#respond {
  position: relative;
  bottom: 128px; 
  font-size: 70px;

}

/* awardsnprojects*/
.awardsnprojects {
  background-color: white;
  color: white;
}

/*  SECTIONS  */
.section2 {
  clear: both;
  padding: 0px;
  margin: 0px;
  color: black;
  position: relative;
  opacity: .4;
  bottom: -500px;
  background-color: white;
}

/*  COLUMN SETUP  */
.col2 {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col2:first-child { margin-left: 0; }

/*  GROUPING  */
.group2:before,
.group2:after { content:""; display:table; }
.group2:after { clear:both;}
.group2 { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3_2 { width: 100%; }
.span_2_of_3_2 { width: 66.13%; }
.span_1_of_3_2 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col2 {  margin: 1% 0 1% 0%; }
  .span_3_of_3_2, .span_2_of_3_2, .span_1_of_3_2 { width: 100%; }
}


/*                    Bottom area                */
/*  SECTIONS  */
.section1 {
  clear: both;
  padding: 0px;
  margin: 0px;
  position: relative;
  bottom: -680px;
  color: white; 
  font-size: 20px;
  font-family: 'Slabo 27px', serif;


}

/*  COLUMN SETUP  */
.col1 {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col1:first-child { margin-left: 0; }

/*  GROUPING  */
.group1:before,
.group1:after { content:""; display:table; }
.group1:after { clear:both;}
.group1 { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2_1 {
  width: 100%;
}
.span_1_of_2_1 {
  width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .col1 { 
    margin: 1% 0 1% 0%;
  }
}

@media only screen and (max-width: 480px) {
  .span_2_of_2_1, .span_1_of_2_1 { width: 100%; }
}

.about {
  position: relative;
  color: white; 
  font-size: 30px;
  font-family: 'Slabo 27px', serif;
  bottom: -300px
}

.welcome-box {
  position: relative;
  height: 300px;
  width: 800px; 
  border: 1px white; 
  }


/*                    SKILLS             */
/*  SECTIONS  */
.section3 {
  clear: both;
  padding: 0px;
  margin: 0px;
  position: relative;
  bottom: -680px;
  color: white; 
  font-size: 20px;
  font-family: 'Slabo 27px', serif;
  background-color: #7DB9B3;
  height: 100%; 
  width: 100%;


}

/*  COLUMN SETUP  */
.col3 {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col3:first-child { margin-left: 0; }

/*  GROUPING  */
.group3:before,
.group3:after { content:""; display:table; }
.group3:after { clear:both;}
.group3 { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2_3 {
  width: 100%;
}
.span_1_of_2_3 {
  width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .col3 { 
    margin: 1% 0 1% 0%;
  }
}

@media only screen and (max-width: 480px) {
  .span_2_of_2_3, .span_1_of_2_3 { width: 100%; }
}

.proj {
 /* background-color: #D8D7C3;*/
  color: #0E2E3B;
  font-family: 'Slabo 27px', serif;
  position: relative;
  bottom: -300px;

}

.bubble {
  position: relative;
  top: 40%;
  left: 70%;
}

#object{
  background-color: #fe5652;

  visibility: hidden;
}

.post_button {
  position: relative;
  top: 660px;
  left: 40px;
}

.post_button1 {
    position: relative;
  top: 660px;
  left: 35px;
}
